
@{
    ViewBag.Title = "Alterar_Nota";
}

<h2>Alterar_Nota</h2>
<form method="post">
    <div id="div_notas">
        Nome Materia: <input type="text" id="txt_nome_materia" />
        Nota 1: <input type="text" id="txt_nota_1" />
        Nota 2: <input type="text" id="txt_nota_2" />
        Nota 3: <input type="text" id="txt_nota_3" />
        Nota 4: <input type="text" id="txt_nota_4" />
        <input type="button" id="add_materia" name="add_materia" onclick="Add_Materia()" value="Adicionar" />
    </div>
</form>